/* Estilos para o componente ProConnect */
.body {
    background-color: #f9f4ff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
    margin: 0;
    width: 1500px;
  }
  
  .titulo {
    color: #000;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .listaWrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px;
  }
  
  .lista {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .itemLista {
    background: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    font-weight: 500;
    color: #5f259f;
  }
  
  .footer {
    background-color: #8B2CF5;
    color: #fff;
    padding: 60px 20px;
    border-radius: 8px;
  }
  
  .titulo2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .texto {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .buttonWrapper {
    margin-bottom: 30px;
  }
  
  .butao {
    background-color: #fff;
    color: #8B2CF5;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .butao:hover {
    background-color: #e0d5f9;
  }
  
  .rodape {
    margin-top: 20px;
  }
  
  .textoFooter {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .textoFooterDireitos {
    font-size: 0.9rem;
    margin-top: 10px;
  }
  